*{
    padding: 0;
    margin: 0;
}
body{
    font-family: "Gabarito", sans-serif;
}
.navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    gap: 10px;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1;
}
.navbar__s1__title{
    color: #A435F0;
}
.navbar__s2{
    padding: 10px;
    border: solid black 1px;
    border-radius: 30px;
    width: 60%;
    display:flex;
    gap: 10px;
    align-items: center;
}
.navbar__s2 input{
    border: none;
    background-color: transparent;
    width: 100%;
    font-size: 16px;
}
.navbar__s2 input:focus{
    outline: none;
}
.navbar__s3{
    display: flex;
    gap: 10px;
    align-items: center;
}
.navbar__s4{
    display: none;
}
/* my learning pop up */
.mylearning{
    position: relative;
    cursor: pointer;
}
.mylearning__popup{
    position: absolute;
    background-color: white;
    border: 1px solid black;
    width: 100px;
    top: 150%;
    right: 0;
    padding: 20px;
    display: none;
}
.mylearning:hover .mylearning__popup{
    display: block;
}
.categories{
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-bottom: 1px solid black;
    justify-content: space-around;
}
.categories p{
    background-color: #A435F0;
    color: white;
    padding: 10px;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid black;
}
.categories p:hover{
    transition: 1s;
    background-color: transparent;
    color: #A435F0;
    border: 1px solid black;
}
.sale-image{
    position: relative;
}
.sale-image img{
    width: 100%;
}
.sale-image__offer{
    width: 35%;
    border: 2px solid black;
    background-color: white;
    padding: 2%;
    position: absolute;
    top: 10%;
    left: 10%;
    animation-name: zoom;
    animation-duration: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes zoom{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.recommended{
    padding: 10px;
}
.recommended__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
.course-card{
    flex-grow: 1;
    flex-basis: 20%;
    margin: 5px;
}
.course-card img{
    width: 100%;
    height: 50%;
    flex-grow: 1;
}
.topics{
    padding: 10px;
}
.topics__container{
    display:flex;
    gap: 10px;
    margin-top: 10px;
    flex-wrap: wrap;
}
.topics__container p{
    border: solid gray 2px;
    padding: 10px;
    flex-grow: 1;
    flex-basis: 25%;
}
.popular{
    padding: 10px;
}
.popular__container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
}
del{
    background-color: red;
}
.footer{
    padding: 30px;
    background-color: black;
    color: white;
}
.footer__one{
    display: flex;
    gap: 10px;
}
.footer__one p{
    margin: 20px;
}
.footer__two{
    display: flex;
    justify-content: space-between;
    margin: 20px;
    align-items: center;
}
/* media queries */

@media screen and (max-width:800px) {
    body{
        font-size: 14px;
    }
}
@media screen and (max-width:600px) {
    .course-card{
        flex-basis: 40%;
    }
    .categories p{
        flex-grow: 1;
        flex-basis: 25%;
        margin: 10px;
        text-align: center;
    }
    .navbar__s2,.navbar__s3{
        display: none;
    }
    /* menu icon  */
    .navbar__s4{
        display: block;
    }
}
